{{define "nextbustime"}}
  {{template "header" .}}
<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Next Bus Time</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<meta http-equiv="refresh" content="60" >
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="nextbustime">Next Bus Time</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="nextbustime">Home</a></li>
		<!--
					<li><a href="https://www.hogehoge.co.jp/info">Info</a></li>
					<li><a href="https://www.hogehoge.co.jp/timetable">TimeTable</a></li>
-->
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<h2>for {{.Distination}}</h2>
				<h3>next departure time:</h3>
				<blockquote>
				</div><h2>{{.Next_bus_time}}</h2></div>
				</div><h2>{{.Nextnext_bus_time}}</h2></div>
				<br><br><h3>current time:</h3>
				</div><h3>{{.Nowtime}}</h3></div>
				</blockquote>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
<!--
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
-->
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<!-- <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li> -->
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
{{end}}
